
[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{appxmanifest,build,c,c++,cc,config,cp,cpp,csproj,cu,cuh,cxx,dbml,discomap,dtd,h,hh,hpp,hxx,inc,inl,ino,ipp,jsproj,lsproj,mpp,njsproj,nuspec,proj,props,resw,resx,StyleCop,targets,tasks,tpp,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]
end_of_line = lf
# ReSharper properties
resharper_align_multiline_extends_list=false
resharper_attribute_indent=align_by_first_attribute
resharper_cpp_brace_style=next_line
resharper_cpp_indent_size=2
resharper_cpp_max_line_length=90
resharper_cpp_tab_width=2
resharper_function_declaration_return_type_style=on_single_line
resharper_function_definition_return_type_style=on_single_line
resharper_indent_switch_labels=true
resharper_int_align_comments=true
resharper_int_align_declaration_names=false
resharper_int_align_eq=false
resharper_linebreak_before_elements=
resharper_max_blank_lines_between_tags=2
resharper_outdent_commas=true
resharper_simple_block_style=line_break
resharper_simple_case_statement_style=line_break
resharper_simple_embedded_statement_style=line_break
resharper_toplevel_function_definition_return_type_style=on_single_line
resharper_use_indent_from_vs=false
resharper_wrap_after_declaration_lpar=true
resharper_wrap_before_colon=true
resharper_wrap_before_comma_in_base_clause=true
resharper_wrap_text=false

[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hpp,hxx,inc,inl,ino,ipp,mpp,tpp}]
indent_style=space
indent_size=2
tab_width=2

[*.{appxmanifest,build,c,c++,cc,config,cp,cpp,csproj,cu,cuh,cxx,dbml,discomap,dtd,h,hh,hpp,hxx,inc,inl,ino,ipp,jsproj,lsproj,mpp,njsproj,nuspec,proj,props,proto,resw,resx,StyleCop,targets,tasks,tpp,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=2
tab_width=2
